/* General font styling */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro'; /*Noto+Serif|Open+Sans|Bitter|Noto+Sans*/

@media (min-width: 1400px) {
  .container{
            width: 1380px;
    }
}

body {
	font-size: 14px;
	/*font-family: 'Bitter', serif;*/
	/*background-image: url('tiny_grid.png');*/
  /*background-repeat: repeat;*/
  /*font-family: "Source Sans Pro";*/
}


#title {
  text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
  color: rgba(0,0,0,.6);
  font-family: "HelveticaNeue-Light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,"Lucida Grande", sans-serif;
  font-weight: 300;
  font-size:27px
}

#subtitle {
  display:block;
  color: rgba(0,0,0,.6);
  font-family: "HelveticaNeue-Light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,"Lucida Grande", sans-serif;
  font-weight: 300;
  font-size:17px
}

.well {
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 1px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
}

h1, h3,  h6, .h1, .h3, .h6 ,body {
  /*font-family: "Source Sans Pro";*/
}  

h5 {
  font-size: 15px;
  line-height: 1.5em;
}

.MathJax {
font-size: 1.1em !important;
}

.step{
    /*position: absolute;    
    left: -1.2em;
    top: 0.95em;
    height: 1.8em;
    width: 1.8em;
    line-height : 175%;*/
    background-color: #A2D959;
    text-align: center;
    font: italic 1em Georgia, Serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    color: #fff;
    
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    
    -moz-box-shadow: 1px 1px 2px #888;
    -webkit-box-shadow: 1px 1px 2px #888;
    box-shadow: 1px 1px 2px #888;
    
    display: inline;
    padding: 0.2em;
    margin-right: 0.5em;
}

.step2{

  height: 0.5em;
  width: 0.5em;
  border-radius: 0.4em;
  display: inline-block;
  margin-right: 0.1em;
  margin-bottom: 0.2em;
  
}

.popover{
    width:450px;
    max-width: none;
}

.popover-content ul{
    list-style-type: disc;
    padding-left: 17px;
}

#user_details .form-inline input.form-control {
      max-width: 180px;
}

.progress {
    height: 20px;
    margin-bottom: 4px;
}

.btn_right {float:right;}

#wrap_submit_data{
  padding: 2px;
  border: solid 1px #88B54D;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #BBB;
  float:right;
}

/* input tables---------------------------------------------------------------------------*/

.table-gxl{
 /* background-color:#FFF;*/
}

.table-gxl .selectize-input, .table-gxl input{
   min-height: 26px;
   height: 26px;
   min-width: 100px;
   /*width: 100px;*/
   padding: 1px 16px 1px 6px;
   vertical-align: middle;
 }

.table-gxl .selectize-control.single .selectize-input:after {
    right: 10px;
}

.table-gxl .form-control, .table-gxl .form-group{
    margin-bottom: 0px;
}

.table-gxl td, .table-gxl th{
  vertical-align: middle !important;
  padding:4px !important;
} 

#table-groups input{
  height: 25px;
  float: right;
 /*width:65%;*/
}
/*
#table-groups input[type=number]::-webkit-inner-spin-button, 
#table-groups input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
*/

#table-groups-info  .selectize-input{
  width: 80%;
}

/* general input---------------------------------------------------------------------------*/

.selectize-dropdown {
    min-width: 400px !important;
}

/* tabs---------------------------------------------------------------------------*/

.tabs-above .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color:#FFF;
}

.nav-tabs {
    margin-bottom: 0;
}

/* output ---------------------------------------------------------------------------*/

/*
.shiny-plot-output{
    border: 1px solid #ddd;
}*/

#pairs_table td,
#pairs_table th,
#file_summaries_table td,
#file_summaries_table th{
  border-right: 1px solid #ddd;
  background-color: #fff;
  font-size:13px;
}

table.dataTable {
  border-collapse: collapse !important;
  border: 1px solid #ccc;
}
.dataTable tbody {
  border-bottom: 1px solid #ccc;
}


/* navbar---------------------------------------------------------------------------*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #f8f8f8;
}

/*.navbar-nav {
  float:left;
}*/

/*nav .container{
  margin-left:0;
  margin-right:0;
}*/

.nav > li > a{
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
  color: #555;
  }

.navbar-inner {
  background-color: #d6d6d6;
  border-color: #c5c5c5;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0f0f0), to(#d6d6d6));
  background-image: -webkit-linear-gradient(top, #f0f0f0, 0%, #d6d6d6, 100%);
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #d6d6d6 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #d6d6d6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffd6d6d6', GradientType=0);
}
.navbar-inner .navbar-brand {
  color: #474747;
}
.navbar-inner .navbar-brand:hover,
.navbar-inner .navbar-brand:focus {
  color: #2e2e2e;
  background-color: transparent;
}
.navbar-inner .navbar-text {
  color: #474747;
}
.navbar-inner .nav > li > a {
  color: #474747;
}
.navbar-inner .nav > li > a:hover,
.navbar-inner .nav > li > a:focus {
  color: #424242;
  background-color: transparent;
}
.navbar-inner .nav > .active > a,
.navbar-inner .nav > .active > a:hover,
.navbar-inner .nav > .active > a:focus {
  color: #424242;
  background-color: #c5c5c5;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#c5c5c5), to(#dfdfdf));
  background-image: -webkit-linear-gradient(top, #c5c5c5, 0%, #dfdfdf, 100%);
  background-image: -moz-linear-gradient(top, #c5c5c5 0%, #dfdfdf 100%);
  background-image: linear-gradient(to bottom, #c5c5c5 0%, #dfdfdf 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc5c5c5', endColorstr='#ffdfdfdf', GradientType=0);
}
.navbar-inner .nav > .disabled > a,
.navbar-inner .nav > .disabled > a:hover,
.navbar-inner .nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-inner .toggle {
  border-color: #dddddd;
}
.navbar-inner .toggle:hover,
.navbar-inner .toggle:focus {
  background-color: #dddddd;
}
.navbar-inner .toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-inner .navbar-collapse,
.navbar-inner .navbar-form {
  border-color: #c4c4c4;
}
.navbar-inner .nav > .dropdown > a:hover .caret,
.navbar-inner .nav > .dropdown > a:focus .caret {
  border-top-color: #424242;
  border-bottom-color: #424242;
}
.navbar-inner .nav > .open > a,
.navbar-inner .nav > .open > a:hover,
.navbar-inner .nav > .open > a:focus {
  background-color: #c5c5c5;
  color: #424242;
}
.navbar-inner .nav > .open > a .caret,
.navbar-inner .nav > .open > a:hover .caret,
.navbar-inner .nav > .open > a:focus .caret {
  border-top-color: #424242;
  border-bottom-color: #424242;
}
.navbar-inner .nav > .dropdown > a .caret {
  border-top-color: #474747;
  border-bottom-color: #474747;
}
@media (max-width: 767) {
  .navbar-inner .nav .open .dropdown-menu > li > a {
    color: #474747;
  }
  .navbar-inner .nav .open .dropdown-menu > li > a:hover,
  .navbar-inner .nav .open .dropdown-menu > li > a:focus {
    color: #424242;
    background-color: transparent;
  }
  .navbar-inner .nav .open .dropdown-menu > .active > a,
  .navbar-inner .nav .open .dropdown-menu > .active > a:hover,
  .navbar-inner .nav .open .dropdown-menu > .active > a:focus {
    color: #424242;
    background-color: #c5c5c5;
  }
  .navbar-inner .nav .open .dropdown-menu > .disabled > a,
  .navbar-inner .nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inner .nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-inner .navbar-link {
  color: #474747;
}
.navbar-inner .navbar-link:hover {
  color: #424242;
}